workflow {
	output.mode = 'copy'
}

apptainer {
	enabled = true
}


process {
	withLabel: blast {
		container = 'oras://community.wave.seqera.io/library/blast:2.17.0--3d1eb1104ccfd59c'
	}
	withLabel: checkm2 {
		container = 'oras://community.wave.seqera.io/library/checkm2:1.1.0--450784eb7a60b7bf'
	}
	withLabel: dorado {
		container = 'ghcr.io/dialvarezs/containers/dorado:1.3.0'
	}
	withLabel: fastqc {
		container = 'oras://community.wave.seqera.io/library/fastqc:0.12.1--104d26ddd9519960'
	}
	withLabel: flye {
		container = 'oras://community.wave.seqera.io/library/flye:2.9.6--0c4130a5dcdcfcbf'
	}
	withLabel: multiqc {
		container = 'oras://community.wave.seqera.io/library/multiqc:1.33--e3576ddf588fa00d'
	}
	withLabel: nanoq {
		container = 'oras://community.wave.seqera.io/library/nanoq:0.10.0--94ce82b7e004c263'
	}
	withLabel: mummer {
		container = 'oras://community.wave.seqera.io/library/mummer4:4.0.1--c224edf926f42fac'
	}
	withLabel: quast {
		container = 'oras://community.wave.seqera.io/library/quast:5.3.0--bfd4c029fde7e696'
	}
	withLabel: qsv {
		container = 'oras://community.wave.seqera.io/library/qsv:11.0.2--bba395c172230f1f'
	}
	withLabel: rasusa {
		container = 'oras://community.wave.seqera.io/library/rasusa:2.2.2--ac5f469a1b8b6417'
	}
	withLabel: samtools {
		container = 'oras://community.wave.seqera.io/library/samtools:1.23--86cd9d13645d4fff'
	}
	withLabel: seqkit {
		container = 'oras://community.wave.seqera.io/library/seqkit:2.12.0--ec0d76090cceee7c'
	}

	withLabel: gpu {
		containerOptions = '--nv'
		maxForks = 1
		errorStrategy = 'retry'
		maxRetries = 2
	}
}


params {
	samplesheet = 'input/samplesheet.csv'
	contaminant = 'input/contaminant/contaminant.fasta'

	nanoq_min_length = 2000
	nanoq_min_quality = 20

	blast_min_pident = 95
	blast_min_qcovs = 80

	rasusa_coverage = 100
	rasusa_default_bases = '500MB'  // Used when genome size is not provided

	skip_decontamination = false
	skip_polishing = false

	checkm2_db = 'input/databases/checkm2_db.dmnd'
}
